<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.micro.flowable.mapper.FlowableProcessDesignMapper">

    <select id="getDesignPage"
            parameterType="com.wkclz.micro.flowable.bean.entity.FlowableProcessDesign"
            resultType="com.wkclz.micro.flowable.bean.entity.FlowableProcessDesign">
        SELECT * FROM flowable_process_design
        WHERE deleted = 0
        <if test="designCode != null">
            AND design_code LIKE CONCAT('%', #{designCode}, '%')
        </if>
        <if test="designName != null ">
            AND design_name LIKE CONCAT('%', #{designName}, '%')
        </if>
        <if test="category != null">
            AND category = #{category}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="tenantCode != null ">
            AND tenant_code = #{tenantCode}
        </if>
        ORDER BY sort, id DESC
    </select>

</mapper>
