<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.micro.flowable.mapper.FlowableProcessDesignMapper">

    <select id="getDesignPage"
            parameterType="com.wkclz.micro.flowable.bean.req.DesignPageReq"
            resultType="com.wkclz.micro.flowable.bean.resp.DesignPageResp">
        SELECT
            d.*,
            c.category_name
        FROM
            flowable_process_design d
            LEFT JOIN flowable_category c ON c.category_code = d.category AND c.deleted = 0
        WHERE d.deleted = 0
        <if test="designCode != null">
            AND d.design_code LIKE CONCAT('%', #{designCode}, '%')
        </if>
        <if test="designName != null ">
            AND design_name LIKE CONCAT('%', #{designName}, '%')
        </if>
        <if test="category != null">
            AND category = #{category}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY
            d.sort,
            d.id DESC
    </select>

</mapper>
