<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.micro.wxmp.dao.WxmpConfigMapper">

    <select id="getWxMpAppInfo"
            parameterType="com.wkclz.micro.wxmp.pojo.vo.WxMpAppInfo"
            resultType="com.wkclz.micro.wxmp.pojo.vo.WxMpAppInfo">

        SELECT
            tenant_code,
            app_id,
            app_secret,
            mp_token,
            aes_key
        FROM
            wxmp_config
        WHERE
            status = 1
            AND app_id = #{appId}
            <if test="tenantCode != null">AND tenant_code = #{tenantCode} </if>
        LIMIT 1
    </select>



    <select id="getConfigList" parameterType="com.wkclz.micro.wxmp.pojo.entity.WxmpConfig" resultType="com.wkclz.micro.wxmp.pojo.entity.WxmpConfig">
      SELECT
          id,
          tenant_code,
          app_id,
          create_time,
          create_by,
          update_time,
          update_by,
          remark
      FROM
          wxmp_config
      WHERE
          status = 1
          <if test="tenantCode != null">AND tenant_code = #{tenantCode} </if>
          <if test="appId != null">AND app_id LIKE CONCAT('%', #{appId}, '%') </if>
      ORDER BY
          id DESC
  </select>

</mapper>

