<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.micro.audit.dao.MdmChangeLogMapper">

  <select id="getChangeLogList" parameterType="com.wkclz.micro.audit.pojo.entity.MdmChangeLog" resultType="com.wkclz.micro.audit.pojo.entity.MdmChangeLog">
      SELECT
          id,
          batch_no,
          table_name,
          data_id,
          data_version,
          operate_type,
          data_from,
          data_to,
          create_time,
          create_by
      FROM
          mdm_change_log
      WHERE
          deleted = 0
          <if test="timeFrom != null">AND create_time &gt;= #{timeFrom} </if>
          <if test="timeTo != null">AND create_time &lt;= #{timeTo} </if>
          <if test="batchNo != null">AND batch_no = #{batchNo} </if>
          <if test="tableName != null">AND table_name = #{tableName} </if>
          <if test="dataId != null">AND data_id = #{dataId} </if>
          <if test="operateType != null">AND operate_type = #{operateType} </if>
          <if test="createBy != null">AND create_by = #{createBy} </if>

          <if test="keyword != null">
              AND (
                  data_from LIKE CONCAT('%', #{keyword}, '%')
               OR data_to LIKE CONCAT('%', #{keyword}, '%')
              )
          </if>
      ORDER BY
          id DESC
  </select>

</mapper>

