<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.micro.dict.dao.MdmDictItemMapper">

    <select id="getDictItemList" parameterType="com.wkclz.micro.dict.pojo.entity.MdmDictItem" resultType="com.wkclz.micro.dict.pojo.dto.MdmDictItemDto">
        SELECT
            di.id,
            d.dict_type,
            di.description,
            di.dict_value,
            di.dict_label,
            di.el_type,
            di.enable_flag
        FROM
            mdm_dict d
            INNER JOIN mdm_dict_item di ON di.dict_type = d.dict_type
        WHERE
            1 = 1
            AND d.deleted = 0
            AND di.deleted = 0
            <if test="dictType != null"> AND d.dict_type = #{dictType} </if>
            <if test="dictValue != null"> AND di.dict_value = #{dictValue} </if>
            <if test="enableFlag != null"> AND di.enable_flag = #{enableFlag} </if>
            <if test="dictLabel != null"> AND di.dict_label = LIKE concat('%',#{dictLabel},'%') </if>
            <if test="description != null"> AND di.description LIKE concat('%',#{description},'%') </if>
        ORDER BY
            di.sort ASC,
            di.id DESC
    </select>


    <select id="getAllDictItem" resultType="com.wkclz.micro.dict.pojo.dto.MdmDictItemDto">
        SELECT
            d.dict_type,
            d.description type_description,
            di.dict_value,
            di.dict_label,
            di.el_type,
            di.description,
            di.enable_flag
        FROM
            mdm_dict d
            INNER JOIN mdm_dict_item di ON di.dict_type = d.dict_type
        WHERE
            d.deleted = 0
            AND di.deleted = 0
        ORDER BY
            d.id,
            di.sort
    </select>

    <select id="getDictItemsByDictTypes" parameterType="java.util.List" resultType="com.wkclz.micro.dict.pojo.entity.MdmDictItem">
        SELECT
            dict_type,
            dict_label,
            dict_value,
            el_type,
            description,
            enable_flag
        FROM
            mdm_dict_item
        WHERE
            deleted = 0
            AND dict_type IN ( <foreach collection="dictTypes" item="item" separator=","> #{item} </foreach> )
        ORDER BY
            sort ASC,
            id ASC
    </select>



    <select id="dictItems4Cache" resultType="com.wkclz.micro.dict.pojo.entity.MdmDictItem">
        SELECT
            dict_type,
            dict_value,
            dict_label,
            enable_flag
        FROM
            mdm_dict_item
        WHERE
            deleted = 0
        ORDER BY
            sort,
            id
    </select>


    <select id="dictItems4Copy" parameterType="com.wkclz.micro.dict.pojo.dto.MdmDictItemDto" resultType="com.wkclz.micro.dict.pojo.entity.MdmDictItem">
        SELECT
            dict_type,
            dict_value,
            dict_label,
            el_type,
            description,
            enable_flag,
            sort,
            remark
        FROM
            mdm_dict_item
        WHERE
            deleted = 0
            <if test="dictType != null"> AND dict_type = #{dictType} </if>

            <if test="dictTypes != null and dictTypes.size > 0">
                AND dict_type IN ( <foreach collection="dictTypes" item="item" separator=","> #{item} </foreach> )
            </if>
    </select>


    <select id="dictItems4Update" parameterType="com.wkclz.micro.dict.pojo.dto.MdmDictItemDto" resultType="com.wkclz.micro.dict.pojo.entity.MdmDictItem">
        SELECT
            *
        FROM
            mdm_dict_item
        WHERE
            deleted = 0
            <if test="dictType != null"> AND dict_type = #{dictType} </if>

            <if test="dictTypes != null and dictTypes.size > 0">
                AND dict_type IN ( <foreach collection="dictTypes" item="item" separator=","> #{item} </foreach> )
            </if>
    </select>

</mapper>

