<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.micro.wxapp.mapper.WxappUserMapper">

    <select id="getWxappUserByOpenId" parameterType="java.lang.String"
            resultType="com.wkclz.micro.wxapp.bean.entity.WxappUser">
        SELECT
            *
        FROM
            wxapp_user
        WHERE
            deleted = 0
            AND open_id = #{openId}
    </select>

    <select id="getWxappUserByUserCode" parameterType="java.lang.String"
            resultType="com.wkclz.micro.wxapp.bean.entity.WxappUser">
        SELECT
            *
        FROM
            wxapp_user
        WHERE
            deleted = 0
            AND user_code = #{userCode}
    </select>

    <select id="getUserList" parameterType="com.wkclz.micro.wxapp.bean.entity.WxappUser" resultType="com.wkclz.micro.wxapp.bean.entity.WxappUser">
        SELECT
            id,
            user_code,
            nickname,
            app_id,
            open_id,
            union_id,
            mobile,
            email,
            gender,
            avatar,
            login_times,
            create_time,
            create_by,
            update_time,
            update_by,
            remark
        FROM
            wxapp_user
        WHERE
            deleted = 0
            <if test="appId != null">AND app_id = #{appId} </if>
            <if test="openId != null">AND open_id = #{openId} </if>
            <if test="nickname != null">AND nickname LIKE CONCAT('%', #{nickname}, '%') </if>
            <if test="mobile != null">AND mobile LIKE CONCAT('%', #{mobile}, '%') </if>
        ORDER BY
            id DESC
    </select>

</mapper>

