<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.micro.wxapp.dao.WxappConfigMapper">

    <select id="getWxMaAppInfo"
            parameterType="com.wkclz.micro.wxapp.bean.vo.WxMaAppInfo"
            resultType="com.wkclz.micro.wxapp.bean.vo.WxMaAppInfo">
        SELECT
            tenant_code,
            app_id,
            app_secret,
            cert_pem,
            key_pem,
            app_token,
            aes_key
        FROM
            wxapp_config
        WHERE
            deleted = 0
            AND app_id = #{appId}
            <if test="tenantCode != null">AND tenant_code = #{tenantCode} </if>
        LIMIT 1
    </select>


    <select id="getConfigList" parameterType="com.wkclz.micro.wxapp.bean.entity.WxappConfig" resultType="com.wkclz.micro.wxapp.bean.entity.WxappConfig">
        SELECT
            id,
            tenant_code,
            app_id,
            create_time,
            create_by,
            update_time,
            update_by,
            remark
        FROM
            wxapp_config
        WHERE
            deleted = 0
            <if test="tenantCode != null">AND tenant_code = #{tenantCode} </if>
            <if test="appId != null">AND app_id LIKE CONCAT('%', #{appId}, '%') </if>
        ORDER BY
            id DESC
    </select>


</mapper>

