<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.micro.file.mapper.MdmFileRecordMapper">


    <select id="getFileList4Page" parameterType="com.wkclz.micro.file.bean.entity.MdmFileRecord" resultType="com.wkclz.micro.file.bean.entity.MdmFileRecord">
        SELECT
            id,
            tenant_code,
            business_type,
            file_size,
            file_name,
            file_type,
            oss_sp,
            bucket,
            file_id,
            sort,
            create_time,
            create_by,
            update_time,
            update_by,
            remark,
            version
        FROM
            mdm_file_record
        WHERE
            deleted = 0
            <if test="timeFrom != null">AND create_time &gt;= #{timeFrom} </if>
            <if test="timeTo != null">AND create_time &lt;= #{timeTo} </if>
            <if test="id != null">AND id = #{id} </if>
            <if test="tenantCode != null">AND tenant_code = #{tenantCode} </if>
            <if test="businessType != null">AND business_type = #{businessType} </if>
            <if test="fileName != null">AND file_name LIKE CONCAT('%', #{fileName}, '%') </if>
            <if test="fileType != null">AND file_type = #{fileType} </if>
            <if test="ossSp != null">AND oss_sp = #{ossSp} </if>
            <if test="bucket != null">AND bucket = #{bucket} </if>
            <if test="fileId != null">AND file_id = #{fileId} </if>
        ORDER BY
            id DESC
    </select>


    <select id="getFilesByFileId" resultType="com.wkclz.micro.file.bean.entity.MdmFileRecord">
        SELECT
            id,
            tenant_code,
            business_type,
            file_size,
            file_name,
            file_type,
            oss_sp,
            bucket,
            file_id
        FROM
            mdm_file_record
        WHERE
            deleted = 0
            AND file_id = #{fileId}
            <if test="tenantCode != null">AND tenant_code = #{tenantCode}</if>
    </select>

    <select id="getFilesByFileIds" resultType="com.wkclz.micro.file.bean.entity.MdmFileRecord">
        SELECT
            id,
            tenant_code,
            business_type,
            file_size,
            file_name,
            file_type,
            oss_sp,
            bucket,
            file_id
        FROM
            mdm_file_record
        WHERE
            deleted = 0
            <if test="tenantCode != null">AND tenant_code = #{tenantCode}</if>
            AND file_id IN ( <foreach collection="fileIds" item="item" separator=","> #{item} </foreach> )
    </select>


</mapper>
