<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.micro.report.mapper.ReportDefinitionHisMapper">

    <select id="getHisList" parameterType="com.wkclz.micro.report.bean.entity.ReportDefinitionHis" resultType="com.wkclz.micro.report.bean.entity.ReportDefinitionHis">
        SELECT
            id,
            data_id,
            report_code,
            report_name,
            result_type,
            enable_flag,
            report_script,
            report_script_count_switch,
            report_script_count,
            report_script_autocamel,
            sort,
            create_time,
            create_by,
            update_time,
            update_by,
            remark,
            version
        FROM
            report_definition_his
        WHERE
            deleted = 0
            <if test="dataId != null"> AND data_id = #{dataId} </if>
            <if test="reportCode != null"> AND report_code = #{reportCode} </if>
        ORDER BY
            id DESC
    </select>

</mapper>
